.dropdown-container {
  position: relative;
  width: 100%;
  height: 3rem;
  background-color: transparent;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

.multi-select {
  position: absolute;
  width: 50%;
  height: 3rem;
  z-index: 100;
  left: 0;
  background-color: transparent;
}

.multi-select2 {
  position: absolute;
  width: 100%;
  height: 3rem;
  z-index: 100;
  right: 0;
  background-color: transparent;
}

.select-box {
  position: relative;
  height: 3rem;
  text-align: center;
  background-color: transparent;
}

.select-box select {
  width: 100%;
  font-weight: bold;
  height: 3rem;
  background-color: transparent;
  border: none;
  border-left: 1px solid black;
}

.select-box options {
  text-align: center;
}

.over-select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 3rem;
  background-color: rgba(66, 66, 66, 0.548);
}

.over-select p {
  margin-left: 1rem;
  color: white;
  font-family: GilSans;
  letter-spacing: 1px;
}

#check-boxes {
  display: none;
  /* border: 1px solid black; */
}

#check-boxes-expanded {
  display: block;
  /* border: 1px solid rgb(182, 182, 182); */
  font-family: GilSans;
  background-color: rgba(0, 0, 0, 0.767);
  /* padding-top: 0.5rem; */
}

#check-boxes label {
  display: block;
  color: rgb(199, 199, 199);
  background-color: rgba(0, 0, 0, 0.664);
}

#checkboxes label:hover {
  background-color: rgb(29, 123, 29);
}

#check-boxes-expanded label {
  display: flex;
  align-items: center;
  display: block;
  color: rgb(243, 243, 243);
  /* background-color: rgba(0, 0, 0, 0.472); */
  /* margin-top: 8px; */
  /* margin-bottom: 8px; */
  height: 2.3rem;
  letter-spacing: 1px;
  font-size: 1.3rem;
  padding-top: 12px;
}

#check-boxes-expanded label:hover {
  background-color: rgb(29, 123, 29);
}

.check-square {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  height: 1rem;
  width: 1rem;
}
