.combat-outer-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.66);
}

#contentContainer {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 700px;
  width: 1200px;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}

.combat-image {
  display: flex;
  height: 100%;
  width: auto;
  overflow: hidden;
  margin: auto;
  align-self: center;
}

#thing {
  position: relative;
  /* left: 50px;
  top: 50px; */
  transition: left 0.5s ease-in, top 0.5s ease-in;
  height: 28px;
  width: 28px;
  z-index: 300;
}

.other-player-mini {
  position: relative;
  left: 50px;
  top: 50px;
  transition: left 0.5s ease-in, top 0.5s ease-in;
  height: 2rem;
  width: 2rem;
  z-index: 200;
}

#end-turn-button {
  z-index: 180;
  width: 14rem;
  height: 3rem;
  position: absolute;
  left: 48%;
  top: 2rem;
  background-color: transparent;
  border: 2px solid rgb(199, 199, 199);
  transition: 0.5s ease-in, 0.5s ease-out;
  color: white;
  font-size: 1rem;
  font-family: gilSans;
  letter-spacing: 1px;
  padding-top: 6px;
}

#end-turn-button:hover {
  background-color: black;
  border: 2px solid rgb(11, 128, 0);
  transition: 0.5s ease-in, 0.5s ease-out;
}

.youSuck {
  height: auto;
  overflow: hidden;
  width: 100%;
}
